.footer-mainTitle {
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-icon {
  display: flex;
  width: 196px;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
}
